# Experiment 5: Assessing Classifier Result Consistency

In [1]:
# Importing necessary libraries and packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from custom_functions.RepetitiveTasks import imputation, remove_class, encoding, separating, classification_evaluation, repetition, oversampling

# 1. Mushroom Dataset

In [2]:
# Loading the dataset
df = pd.read_csv("datasets/mushrooms.csv")

In [3]:
# Displaying the first five records of the dataset
df.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [4]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(8124, 23)

In [5]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [6]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

e    4208
p    3916
Name: class, dtype: int64

In [7]:
# Encoding the attributes of the dataset
df = encoding(df)

In [8]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [9]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [10]:
repetition(X,y)

[0.9021538461538462, 0.8941538461538462, 0.8972307692307693, 0.8892307692307693, 0.8996923076923077, 0.8966153846153846, 0.8941538461538462, 0.9083076923076923, 0.8898461538461538, 0.8929230769230769, 0.8978461538461538, 0.9003076923076923, 0.9052307692307693, 0.8916923076923077, 0.8867692307692308, 0.8972307692307693, 0.8947692307692308, 0.8947692307692308, 0.8947692307692308, 0.8984615384615384, 0.8898461538461538, 0.9003076923076923, 0.8836923076923077, 0.8990769230769231, 0.8947692307692308, 0.8947692307692308, 0.9003076923076923, 0.896, 0.896, 0.8935384615384615, 0.9033846153846153, 0.9015384615384615, 0.9070769230769231, 0.9046153846153846, 0.9015384615384615, 0.8966153846153846, 0.8929230769230769, 0.8966153846153846, 0.8898461538461538, 0.896, 0.908923076923077, 0.888, 0.8947692307692308, 0.8941538461538462, 0.8996923076923077, 0.9003076923076923, 0.896, 0.8929230769230769, 0.9046153846153846, 0.896, 0.888, 0.9021538461538462, 0.9015384615384615, 0.9003076923076923, 0.8972307692307693, 0.896, 0.896, 0.8953846153846153, 0.8941538461538462, 0.8892307692307693, 0.8972307692307693, 0.9009230769230769, 0.8929230769230769, 0.8966153846153846, 0.8996923076923077, 0.8972307692307693, 0.8898461538461538, 0.8892307692307693, 0.8886153846153846, 0.9015384615384615, 0.8978461538461538, 0.8941538461538462, 0.8923076923076924, 0.8996923076923077, 0.8966153846153846, 0.9003076923076923, 0.9003076923076923, 0.9083076923076923, 0.8972307692307693, 0.8996923076923077, 0.8941538461538462, 0.8996923076923077, 0.9052307692307693, 0.8910769230769231, 0.8929230769230769, 0.8941538461538462, 0.896, 0.8996923076923077, 0.9015384615384615, 0.8978461538461538, 0.8972307692307693, 0.8941538461538462, 0.8990769230769231, 0.8996923076923077, 0.9052307692307693, 0.8953846153846153, 0.8996923076923077, 0.8892307692307693, 0.8904615384615384, 0.8966153846153846]
Standard Deviation: 0.004973811653738394
Mean: 0.896793846153846

# 2. Car Evaluation Dataset

In [11]:
# Loading the dataset
df = pd.read_csv("datasets/car.csv")

In [12]:
# Displaying the first five records of the dataset
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [13]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(1728, 7)

In [14]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [15]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [16]:
# Encoding the attributes of the dataset
df = encoding(df)

In [17]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [18]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [19]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [20]:
repetition(X,y)

[0.6818181818181818, 0.6301652892561983, 0.6384297520661157, 0.6456611570247934, 0.6415289256198347, 0.6477272727272727, 0.6549586776859504, 0.6663223140495868, 0.6539256198347108, 0.6353305785123967, 0.6115702479338843, 0.6652892561983471, 0.6342975206611571, 0.6446280991735537, 0.6291322314049587, 0.6477272727272727, 0.5805785123966942, 0.6601239669421488, 0.6642561983471075, 0.618801652892562, 0.637396694214876, 0.6518595041322314, 0.609504132231405, 0.6518595041322314, 0.5723140495867769, 0.6270661157024794, 0.6580578512396694, 0.6497933884297521, 0.6497933884297521, 0.6611570247933884, 0.6539256198347108, 0.637396694214876, 0.6570247933884298, 0.6239669421487604, 0.6477272727272727, 0.637396694214876, 0.6528925619834711, 0.631198347107438, 0.6425619834710744, 0.628099173553719, 0.6921487603305785, 0.6549586776859504, 0.6167355371900827, 0.6301652892561983, 0.6528925619834711, 0.5878099173553719, 0.6291322314049587, 0.6425619834710744, 0.6477272727272727, 0.6508264462809917, 0.6642561983471075, 0.65599173553719, 0.6043388429752066, 0.6198347107438017, 0.6714876033057852, 0.6353305785123967, 0.6735537190082644, 0.640495867768595, 0.5888429752066116, 0.6301652892561983, 0.6601239669421488, 0.6456611570247934, 0.6260330578512396, 0.6632231404958677, 0.6291322314049587, 0.631198347107438, 0.6363636363636364, 0.637396694214876, 0.618801652892562, 0.628099173553719, 0.6508264462809917, 0.6642561983471075, 0.5960743801652892, 0.65599173553719, 0.6497933884297521, 0.631198347107438, 0.6632231404958677, 0.6198347107438017, 0.6363636363636364, 0.6208677685950413, 0.5867768595041323, 0.6384297520661157, 0.6838842975206612, 0.631198347107438, 0.6322314049586777, 0.6342975206611571, 0.6301652892561983, 0.6601239669421488, 0.6332644628099173, 0.6725206611570248, 0.6497933884297521, 0.6291322314049587, 0.6611570247933884, 0.6239669421487604, 0.6466942148760331, 0.6394628099173554, 0.6466942148760331, 0.6342975206611571, 0.6291322314049587, 0.6229338842975206]
Standard Deviation: 0.021531572543935087
Mean: 0.6397314049586779

# 3. Breast Cancer Dataset

In [21]:
# Loading the dataset
df = pd.read_csv("datasets/breast-cancer.csv")

In [22]:
# Displaying the first five records of the dataset
df.head()

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [23]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(286, 10)

In [24]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [25]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

no-recurrence-events    201
recurrence-events        85
Name: class, dtype: int64

In [26]:
# Encoding the attributes of the dataset
df = encoding(df)

In [27]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [28]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [29]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [30]:
repetition(X,y)

[0.6049382716049383, 0.6296296296296297, 0.6049382716049383, 0.691358024691358, 0.7407407407407407, 0.5555555555555556, 0.6296296296296297, 0.6296296296296297, 0.6666666666666666, 0.6790123456790124, 0.7777777777777778, 0.6296296296296297, 0.6296296296296297, 0.6419753086419753, 0.6419753086419753, 0.7283950617283951, 0.6172839506172839, 0.691358024691358, 0.6419753086419753, 0.654320987654321, 0.6296296296296297, 0.6790123456790124, 0.6790123456790124, 0.6296296296296297, 0.7407407407407407, 0.6666666666666666, 0.691358024691358, 0.6419753086419753, 0.6666666666666666, 0.5555555555555556, 0.6419753086419753, 0.7160493827160493, 0.6049382716049383, 0.5308641975308642, 0.6049382716049383, 0.7160493827160493, 0.6172839506172839, 0.654320987654321, 0.691358024691358, 0.654320987654321, 0.654320987654321, 0.7160493827160493, 0.7530864197530864, 0.5925925925925926, 0.6666666666666666, 0.6419753086419753, 0.6419753086419753, 0.6049382716049383, 0.5925925925925926, 0.6296296296296297, 0.6419753086419753, 0.5555555555555556, 0.6049382716049383, 0.6666666666666666, 0.5802469135802469, 0.5679012345679012, 0.654320987654321, 0.6419753086419753, 0.654320987654321, 0.6666666666666666, 0.5802469135802469, 0.654320987654321, 0.691358024691358, 0.6666666666666666, 0.7160493827160493, 0.6172839506172839, 0.6419753086419753, 0.6172839506172839, 0.6049382716049383, 0.5679012345679012, 0.7283950617283951, 0.6790123456790124, 0.6666666666666666, 0.654320987654321, 0.7037037037037037, 0.5802469135802469, 0.5432098765432098, 0.654320987654321, 0.6296296296296297, 0.7530864197530864, 0.7160493827160493, 0.5925925925925926, 0.6666666666666666, 0.6666666666666666, 0.7160493827160493, 0.5925925925925926, 0.691358024691358, 0.6172839506172839, 0.5432098765432098, 0.48148148148148145, 0.7283950617283951, 0.7530864197530864, 0.7037037037037037, 0.7777777777777778, 0.7407407407407407, 0.6172839506172839, 0.6049382716049383, 0.6790123456790124, 0.7037037037037037, 0.7283950617283951]
Standard Deviation: 0.05713408984063184
Mean: 0.6509876543209877

# 4. Congressional Voting Records Dataset

In [31]:
# Loading the dataset
df = pd.read_csv("datasets/house-votes-84.csv")

In [32]:
# Displaying the first five records of the dataset
df.head()

,class,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [33]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(435, 17)

In [34]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [35]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

democrat      267
republican    168
Name: class, dtype: int64

In [36]:
# Encoding the attributes of the dataset
df = encoding(df)

In [37]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [38]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [39]:
repetition(X,y)

[0.896551724137931, 0.8850574712643678, 0.8735632183908046, 0.8735632183908046, 0.9540229885057471, 0.8505747126436781, 0.9080459770114943, 0.9310344827586207, 0.9080459770114943, 0.8620689655172413, 0.8850574712643678, 0.8850574712643678, 0.8850574712643678, 0.8390804597701149, 0.8620689655172413, 0.8850574712643678, 0.9080459770114943, 0.9080459770114943, 0.8620689655172413, 0.9080459770114943, 0.8850574712643678, 0.9195402298850575, 0.8505747126436781, 0.8620689655172413, 0.896551724137931, 0.896551724137931, 0.8505747126436781, 0.9080459770114943, 0.9080459770114943, 0.9080459770114943, 0.8620689655172413, 0.896551724137931, 0.8850574712643678, 0.8735632183908046, 0.9195402298850575, 0.8735632183908046, 0.8620689655172413, 0.9425287356321839, 0.896551724137931, 0.8735632183908046, 0.8390804597701149, 0.8620689655172413, 0.896551724137931, 0.896551724137931, 0.9310344827586207, 0.896551724137931, 0.9540229885057471, 0.8620689655172413, 0.896551724137931, 0.9310344827586207, 0.9425287356321839, 0.9310344827586207, 0.896551724137931, 0.9310344827586207, 0.896551724137931, 0.8850574712643678, 0.8160919540229885, 0.8275862068965517, 0.8390804597701149, 0.9080459770114943, 0.8620689655172413, 0.9080459770114943, 0.896551724137931, 0.9655172413793104, 0.9425287356321839, 0.8505747126436781, 0.9080459770114943, 0.8735632183908046, 0.896551724137931, 0.9425287356321839, 0.8505747126436781, 0.8850574712643678, 0.9080459770114943, 0.8390804597701149, 0.8620689655172413, 0.8735632183908046, 0.8620689655172413, 0.8735632183908046, 0.8735632183908046, 0.9080459770114943, 0.9080459770114943, 0.8850574712643678, 0.8620689655172413, 0.896551724137931, 0.8160919540229885, 0.9195402298850575, 0.8735632183908046, 0.8620689655172413, 0.8850574712643678, 0.8505747126436781, 0.8390804597701149, 0.9425287356321839, 0.8850574712643678, 0.8850574712643678, 0.8735632183908046, 0.8850574712643678, 0.8850574712643678, 0.8850574712643678, 0.8045977011494253, 0.8620689655172413]
Standard Deviation: 0.03185463747073769
Mean: 0.8866666666666667

# 5. Tic-Tac-Toe Endgame Dataset

In [40]:
# Loading the dataset
df = pd.read_csv("datasets/tic-tac-toe.csv")

In [41]:
# Displaying the first five records of the dataset
df.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive

In [42]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(958, 10)

In [43]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [44]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

positive    626
negative    332
Name: class, dtype: int64

In [45]:
# Encoding the attributes of the dataset
df = encoding(df)

In [46]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [47]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [48]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [49]:
repetition(X,y)

[0.6852589641434262, 0.6892430278884463, 0.6414342629482072, 0.7370517928286853, 0.6653386454183267, 0.6454183266932271, 0.6733067729083665, 0.6852589641434262, 0.6095617529880478, 0.6334661354581673, 0.6294820717131474, 0.6533864541832669, 0.6733067729083665, 0.6693227091633466, 0.6294820717131474, 0.5816733067729084, 0.6613545816733067, 0.6932270916334662, 0.6733067729083665, 0.6095617529880478, 0.6653386454183267, 0.6613545816733067, 0.6095617529880478, 0.649402390438247, 0.6254980079681275, 0.6733067729083665, 0.6334661354581673, 0.6135458167330677, 0.6772908366533864, 0.6852589641434262, 0.6334661354581673, 0.6653386454183267, 0.6772908366533864, 0.6812749003984063, 0.6374501992031872, 0.6932270916334662, 0.6812749003984063, 0.6454183266932271, 0.6613545816733067, 0.6454183266932271, 0.6294820717131474, 0.6693227091633466, 0.6772908366533864, 0.6294820717131474, 0.6693227091633466, 0.6852589641434262, 0.6852589641434262, 0.6254980079681275, 0.6852589641434262, 0.6613545816733067, 0.5896414342629482, 0.6812749003984063, 0.6294820717131474, 0.6613545816733067, 0.6653386454183267, 0.6693227091633466, 0.6772908366533864, 0.6454183266932271, 0.6972111553784861, 0.6693227091633466, 0.6374501992031872, 0.6733067729083665, 0.6533864541832669, 0.6812749003984063, 0.6294820717131474, 0.6812749003984063, 0.5976095617529881, 0.6772908366533864, 0.6812749003984063, 0.6374501992031872, 0.7051792828685259, 0.6693227091633466, 0.6653386454183267, 0.6334661354581673, 0.6454183266932271, 0.6055776892430279, 0.6613545816733067, 0.6932270916334662, 0.6812749003984063, 0.6175298804780877, 0.6374501992031872, 0.6693227091633466, 0.6733067729083665, 0.6852589641434262, 0.6573705179282868, 0.6812749003984063, 0.6573705179282868, 0.6414342629482072, 0.6613545816733067, 0.6215139442231076, 0.6135458167330677, 0.5976095617529881, 0.6972111553784861, 0.6414342629482072, 0.649402390438247, 0.7290836653386454, 0.6573705179282868, 0.6653386454183267, 0.6135458167330677, 0.6254980079681275]
Standard Deviation: 0.029264270322352504
Mean: 0.6566135458167333

# 6. Nursery Dataset

In [50]:
# Loading the dataset
df = pd.read_csv("datasets/nursery.csv")

In [51]:
# Displaying the first five records of the dataset
df.head()

,parents,has_nurs,form,children,housing,finance,social,health,class
0,usual,proper,complete,1,convenient,convenient,nonprob,recommended,recommend
1,usual,proper,complete,1,convenient,convenient,nonprob,priority,priority
2,usual,proper,complete,1,convenient,convenient,nonprob,not_recom,not_recom
3,usual,proper,complete,1,convenient,convenient,slightly_prob,recommended,recommend
4,usual,proper,complete,1,convenient,convenient,slightly_prob,priority,priority

In [52]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(12960, 9)

In [53]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [54]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

not_recom     4320
priority      4266
spec_prior    4044
very_recom     328
recommend        2
Name: class, dtype: int64

In [55]:
# Removing classes having <= 4 instances
df = remove_class(df,'class')

In [56]:
# Encoding the attributes of the dataset
df = encoding(df)

In [57]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [58]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [59]:
repetition(X,y)

[0.878858024691358, 0.8753858024691358, 0.8726851851851852, 0.8761574074074074, 0.8757716049382716, 0.8757716049382716, 0.8757716049382716, 0.8715277777777778, 0.8726851851851852, 0.8591820987654321, 0.8560956790123457, 0.8865740740740741, 0.8722993827160493, 0.8819444444444444, 0.8495370370370371, 0.8626543209876543, 0.8661265432098766, 0.8692129629629629, 0.8885030864197531, 0.8742283950617284, 0.8815586419753086, 0.8676697530864198, 0.8626543209876543, 0.8746141975308642, 0.8665123456790124, 0.8661265432098766, 0.8526234567901234, 0.8946759259259259, 0.8703703703703703, 0.8638117283950617, 0.8746141975308642, 0.8819444444444444, 0.8688271604938271, 0.8657407407407407, 0.8784722222222222, 0.873070987654321, 0.8499228395061729, 0.8614969135802469, 0.8661265432098766, 0.8746141975308642, 0.8819444444444444, 0.8792438271604939, 0.8672839506172839, 0.8699845679012346, 0.8703703703703703, 0.8533950617283951, 0.8939043209876543, 0.8865740740740741, 0.876929012345679, 0.8722993827160493, 0.8657407407407407, 0.8715277777777778, 0.8395061728395061, 0.8499228395061729, 0.8622685185185185, 0.8869598765432098, 0.8773148148148148, 0.8626543209876543, 0.8858024691358025, 0.8719135802469136, 0.8630401234567902, 0.8587962962962963, 0.8495370370370371, 0.8422067901234568, 0.8834876543209876, 0.8695987654320988, 0.8487654320987654, 0.8549382716049383, 0.8734567901234568, 0.8773148148148148, 0.8695987654320988, 0.8722993827160493, 0.8784722222222222, 0.873070987654321, 0.8568672839506173, 0.8688271604938271, 0.8634259259259259, 0.8638117283950617, 0.8780864197530864, 0.8514660493827161, 0.8591820987654321, 0.8599537037037037, 0.8784722222222222, 0.876929012345679, 0.8746141975308642, 0.8649691358024691, 0.8522376543209876, 0.8649691358024691, 0.8746141975308642, 0.8761574074074074, 0.8726851851851852, 0.8641975308641975, 0.8819444444444444, 0.8777006172839507, 0.8858024691358025, 0.8719135802469136, 0.875, 0.8757716049382716, 0.8634259259259259, 0.8869598765432098]
Standard Deviation: 0.010951813635769537
Mean: 0.8699652777777778

# 7. Soybean (Large) Dataset

In [60]:
# Loading the dataset
df = pd.read_csv("datasets/soybean-large.csv")

In [61]:
# Displaying the first five records of the dataset
df.head()

,class,date,plant-stand,precip,temp,hail,crop-hist,area-damaged,severity,seed-tmt,...,int-discolor,sclerotia,fruit-pods,fruit spots,seed,mold-growth,seed-discolor,seed-size,shriveling,roots
0,diaporthe-stem-canker,6,0,2,1,0,1,1,1,0,...,0,0,0,4,0,0,0,0,0,0
1,diaporthe-stem-canker,4,0,2,1,0,2,0,2,1,...,0,0,0,4,0,0,0,0,0,0
2,diaporthe-stem-canker,3,0,2,1,0,1,0,2,1,...,0,0,0,4,0,0,0,0,0,0
3,diaporthe-stem-canker,3,0,2,1,0,1,0,2,0,...,0,0,0,4,0,0,0,0,0,0
4,diaporthe-stem-canker,6,0,2,1,0,2,0,1,0,...,0,0,0,4,0,0,0,0,0,0

In [62]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(307, 36)

In [63]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [64]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

frog-eye-leaf-spot             40
phytophthora-rot               40
alternarialeaf-spot            40
brown-spot                     40
brown-stem-rot                 20
anthracnose                    20
diaporthe-stem-canker          10
purple-seed-stain              10
phyllosticta-leaf-spot         10
bacterial-pustule              10
charcoal-rot                   10
bacterial-blight               10
downy-mildew                   10
powdery-mildew                 10
rhizoctonia-root-rot           10
diaporthe-pod-&-stem-blight     6
cyst-nematode                   6
herbicide-injury                4
2-4-d-injury                    1
Name: class, dtype: int64

In [65]:
# Removing classes having <= 4 instances
df = remove_class(df,'class')

In [66]:
# Encoding the attributes of the dataset
df = encoding(df)

In [67]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [68]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [69]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [70]:
repetition(X,y)

[0.8161764705882353, 0.7867647058823529, 0.7794117647058824, 0.7205882352941176, 0.7205882352941176, 0.7867647058823529, 0.7941176470588235, 0.8308823529411765, 0.6029411764705882, 0.5661764705882353, 0.6544117647058824, 0.6764705882352942, 0.7720588235294118, 0.7279411764705882, 0.6176470588235294, 0.6985294117647058, 0.7794117647058824, 0.7426470588235294, 0.6617647058823529, 0.7426470588235294, 0.6397058823529411, 0.6838235294117647, 0.7426470588235294, 0.4485294117647059, 0.8088235294117647, 0.8161764705882353, 0.7941176470588235, 0.5514705882352942, 0.6617647058823529, 0.7720588235294118, 0.7205882352941176, 0.6470588235294118, 0.6470588235294118, 0.6544117647058824, 0.7205882352941176, 0.7647058823529411, 0.7352941176470589, 0.7647058823529411, 0.6911764705882353, 0.8602941176470589, 0.7426470588235294, 0.7426470588235294, 0.625, 0.7058823529411765, 0.7279411764705882, 0.6102941176470589, 0.5294117647058824, 0.7794117647058824, 0.7426470588235294, 0.7352941176470589, 0.5441176470588235, 0.6029411764705882, 0.5882352941176471, 0.7352941176470589, 0.7058823529411765, 0.8676470588235294, 0.8676470588235294, 0.7205882352941176, 0.7794117647058824, 0.7426470588235294, 0.8014705882352942, 0.8897058823529411, 0.7647058823529411, 0.8235294117647058, 0.6617647058823529, 0.6544117647058824, 0.7352941176470589, 0.6838235294117647, 0.6911764705882353, 0.6176470588235294, 0.7426470588235294, 0.8308823529411765, 0.7867647058823529, 0.7426470588235294, 0.7647058823529411, 0.6691176470588235, 0.8455882352941176, 0.6544117647058824, 0.7058823529411765, 0.7205882352941176, 0.9117647058823529, 0.8088235294117647, 0.7279411764705882, 0.9044117647058824, 0.7647058823529411, 0.7058823529411765, 0.6764705882352942, 0.7794117647058824, 0.6617647058823529, 0.7058823529411765, 0.8308823529411765, 0.6985294117647058, 0.6102941176470589, 0.47794117647058826, 0.8529411764705882, 0.5514705882352942, 0.7132352941176471, 0.7132352941176471, 0.7205882352941176, 0.8308823529411765]
Standard Deviation: 0.08941309499784372
Mean: 0.7213235294117648

# 8. Molecular Biology (Promoter Gene Sequences) Dataset

In [71]:
# Loading the dataset
df = pd.read_csv("datasets/promoters.csv")

In [72]:
# Displaying the first five records of the dataset
df.head()

  class instance_name                                           sequence
0     +           S10  \t\ttactagcaatacgcttgcgttcggtggttaagtatgtataat...
1     +          AMPC  \t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaat...
2     +          AROH  \t\tgtactagagaactagtgcattagcttatttttttgttatcat...
3     +         DEOP2  \taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaa...
4     +     LEU1_TRNA  \ttcgataattaactattgacgaaaagctgaaaaccactagaatgc...

In [73]:
# Formatting columns to create a proper dataset
df['sequence'] = df['sequence'].apply(lambda x: x.replace('\t',''))
attributes = [str(i) for i in range(0,59)]
df[attributes] = df['sequence'].str.split(pat='', expand=True)
df.drop(['sequence','0','58'],axis=1,inplace=True)

In [74]:
# Displaying the first five records of the dataset
df.head()

,class,instance_name,1,2,3,4,5,6,7,8,...,48,49,50,51,52,53,54,55,56,57
0,+,S10,t,a,c,t,a,g,c,a,...,g,g,c,t,t,g,t,c,g,t
1,+,AMPC,t,g,c,t,a,t,c,c,...,g,c,a,t,c,g,c,c,a,a
2,+,AROH,g,t,a,c,t,a,g,a,...,c,c,a,c,c,c,g,g,c,g
3,+,DEOP2,a,a,t,t,g,t,g,a,...,t,a,a,c,a,a,a,c,t,c
4,+,LEU1_TRNA,t,c,g,a,t,a,a,t,...,t,c,c,g,t,g,g,t,a,g

In [75]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(106, 59)

In [76]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [77]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

+    53
-    53
Name: class, dtype: int64

In [78]:
# Encoding the attributes of the dataset
df = encoding(df)

In [79]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [80]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [81]:
repetition(X,y)

[0.5454545454545454, 0.3181818181818182, 0.7727272727272727, 0.6363636363636364, 0.8636363636363636, 0.7727272727272727, 0.8181818181818182, 0.45454545454545453, 0.8636363636363636, 0.5909090909090909, 0.9545454545454546, 0.7727272727272727, 0.6363636363636364, 0.8181818181818182, 0.5454545454545454, 0.6818181818181818, 0.9090909090909091, 0.5909090909090909, 0.8636363636363636, 0.6363636363636364, 0.7727272727272727, 0.8181818181818182, 0.7727272727272727, 0.5454545454545454, 0.8181818181818182, 0.2727272727272727, 0.8636363636363636, 0.5454545454545454, 0.8181818181818182, 0.36363636363636365, 0.6363636363636364, 0.9545454545454546, 0.8181818181818182, 0.45454545454545453, 0.9090909090909091, 0.7272727272727273, 0.7727272727272727, 0.5909090909090909, 0.6363636363636364, 0.8181818181818182, 1.0, 0.7727272727272727, 0.7727272727272727, 0.8181818181818182, 0.9545454545454546, 0.6818181818181818, 0.8181818181818182, 1.0, 0.9090909090909091, 0.8636363636363636, 0.8636363636363636, 0.45454545454545453, 0.9545454545454546, 0.7272727272727273, 0.8181818181818182, 0.6363636363636364, 0.8636363636363636, 0.8636363636363636, 0.45454545454545453, 0.9090909090909091, 0.9545454545454546, 0.8181818181818182, 0.2727272727272727, 0.7272727272727273, 0.9090909090909091, 0.2727272727272727, 0.9545454545454546, 0.8636363636363636, 0.5454545454545454, 0.5909090909090909, 0.7727272727272727, 0.4090909090909091, 0.7727272727272727, 0.9545454545454546, 0.5909090909090909, 0.5454545454545454, 0.9545454545454546, 0.6818181818181818, 0.8181818181818182, 0.9545454545454546, 0.5454545454545454, 0.7272727272727273, 0.7272727272727273, 0.9545454545454546, 0.5909090909090909, 0.36363636363636365, 0.7272727272727273, 0.9090909090909091, 0.36363636363636365, 0.9545454545454546, 0.7272727272727273, 0.8181818181818182, 0.5909090909090909, 0.3181818181818182, 0.8636363636363636, 0.45454545454545453, 0.8181818181818182, 0.5454545454545454, 0.7727272727272727, 0.7727272727272727]
Standard Deviation: 0.18738302136056745
Mean: 0.7199999999999999

# 9. Balance Scale Dataset

In [82]:
# Loading the dataset
df = pd.read_csv("datasets/balance-scale.csv")

In [83]:
# Displaying the first five records of the dataset
df.head()

  class  left-weight  left-distance  right-weight  right-distance
0     B            1              1             1               1
1     R            1              1             1               2
2     R            1              1             1               3
3     R            1              1             1               4
4     R            1              1             1               5

In [84]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(625, 5)

In [85]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [86]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

R    288
L    288
B     49
Name: class, dtype: int64

In [87]:
# Encoding the attributes of the dataset
df = encoding(df)

In [88]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [89]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [90]:
repetition(X,y)

[0.872, 0.904, 0.88, 0.904, 0.92, 0.896, 0.816, 0.912, 0.872, 0.904, 0.952, 0.904, 0.968, 0.888, 0.896, 0.904, 0.88, 0.856, 0.888, 0.912, 0.88, 0.88, 0.912, 0.936, 0.896, 0.936, 0.944, 0.896, 0.88, 0.872, 0.872, 0.88, 0.896, 0.872, 0.904, 0.912, 0.872, 0.872, 0.936, 0.928, 0.888, 0.912, 0.896, 0.864, 0.896, 0.896, 0.88, 0.88, 0.88, 0.864, 0.856, 0.872, 0.88, 0.912, 0.856, 0.896, 0.904, 0.888, 0.904, 0.904, 0.912, 0.912, 0.856, 0.912, 0.928, 0.88, 0.896, 0.912, 0.896, 0.904, 0.92, 0.936, 0.88, 0.904, 0.88, 0.896, 0.896, 0.904, 0.888, 0.856, 0.936, 0.912, 0.888, 0.88, 0.832, 0.88, 0.896, 0.832, 0.872, 0.904, 0.904, 0.92, 0.888, 0.888, 0.92, 0.808, 0.912, 0.896, 0.88, 0.928]
Standard Deviation: 0.02638981621762457
Mean: 0.89376

# 10. Lenses Dataset

In [91]:
# Loading the dataset
df = pd.read_csv("datasets/lenses.csv", delimiter="  ", engine="python")

In [92]:
# Displaying the first five records of the dataset
df.head()

   class  age  spectacle_prescription  astigmatic  tear_production_rate
1      1    1                       1           1                   3.0
2      1    1                       1           2                   2.0
3      1    1                       2           1                   3.0
4      1    1                       2           2                   1.0
5      1    2                       1           1                   3.0

In [93]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(24, 5)

In [94]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [95]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

1    15
2     9
Name: class, dtype: int64

In [96]:
# Encoding the attributes of the dataset
df = encoding(df)

In [97]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [98]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [99]:
repetition(X,y)

[0.4, 0.4, 0.4, 0.2, 0.4, 0.6, 0.6, 0.8, 0.8, 0.4, 0.6, 0.6, 0.6, 0.6, 0.4, 0.6, 0.4, 0.6, 0.4, 0.4, 0.6, 0.4, 0.4, 0.2, 0.6, 0.4, 0.2, 0.4, 0.6, 0.6, 0.6, 0.6, 0.4, 0.6, 0.6, 0.8, 0.4, 0.8, 0.2, 0.6, 0.2, 0.6, 0.4, 0.4, 0.6, 0.4, 0.6, 0.8, 0.4, 0.6, 0.4, 0.4, 0.4, 0.4, 0.4, 0.8, 0.4, 0.6, 0.4, 0.4, 0.8, 0.4, 0.4, 0.4, 0.6, 0.8, 0.4, 0.6, 0.2, 0.6, 0.4, 0.6, 0.6, 0.4, 0.8, 0.6, 0.6, 0.4, 0.4, 0.8, 0.4, 0.6, 0.8, 0.2, 0.8, 0.4, 0.6, 0.8, 0.4, 0.6, 0.4, 0.8, 0.6, 0.8, 0.6, 0.2, 0.6, 0.2, 0.6, 0.6]
Standard Deviation: 0.1701293625450939
Mean: 0.516

# 11. Molecular Biology (Splice-junction Gene Sequences) Dataset

In [100]:
# Loading the dataset
df = pd.read_csv("datasets/splice.csv")

In [101]:
# Displaying the first five records of the dataset
df.head()

,class,instance_name,sequence
0,EI,ATRINS-DONOR-521,CCAGCTGCATCACAGGAGGCCAGCGAGCAGG...
1,EI,ATRINS-DONOR-905,AGACCCGCCGGGAGGCGGAGGACCTGCAGGG...
2,EI,BABAPOE-DONOR-30,GAGGTGAAGGACGTCCTTCCCCAGGAGCCGG...
3,EI,BABAPOE-DONOR-867,GGGCTGCGTTGCTGGTCACATTCCTGGCAGGT...
4,EI,BABAPOE-DONOR-2817,GCTCAGCCCCCAGGTCACCCAGGAACTGACGTG...

In [102]:
# Formatting columns to create a proper dataset
df['sequence'] = df['sequence'].apply(lambda x: x.replace(' ',''))
attributes = [str(i) for i in range(0,62)]
df[attributes] = df['sequence'].str.split(pat='', expand=True)
df.drop(['sequence','0','61'],axis=1,inplace=True)

In [103]:
# Dropping unwanted columns
df.drop(['instance_name'], axis=1, inplace=True)

In [104]:
# Displaying the first five records of the dataset
df.head()

  class  1  2  3  4  5  6  7  8  9  ... 51 52 53 54 55 56 57 58 59 60
0    EI  C  C  A  G  C  T  G  C  A  ...  A  G  C  C  A  G  T  C  T  G
1    EI  A  G  A  C  C  C  G  C  C  ...  G  T  G  C  C  C  C  C  G  C
2    EI  G  A  G  G  T  G  A  A  G  ...  C  A  C  G  G  G  G  A  T  G
3    EI  G  G  G  C  T  G  C  G  T  ...  G  G  T  T  T  T  C  C  C  C
4    EI  G  C  T  C  A  G  C  C  C  ...  C  C  T  T  G  A  C  C  C  T

[5 rows x 61 columns]

In [105]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(3190, 61)

In [106]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [107]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

N     1655
IE     768
EI     767
Name: class, dtype: int64

In [108]:
# Encoding the attributes of the dataset
df = encoding(df)

In [109]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [110]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [111]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [112]:
repetition(X,y)

[0.7603222557905337, 0.6968781470292045, 0.7643504531722054, 0.7270896273917422, 0.7754279959718026, 0.7401812688821753, 0.7683786505538771, 0.7200402819738168, 0.7774420946626385, 0.8056394763343404, 0.7512588116817724, 0.7854984894259819, 0.7734138972809668, 0.796576032225579, 0.7381671701913394, 0.7462235649546828, 0.7512588116817724, 0.7542799597180262, 0.7331319234642497, 0.7411883182275931, 0.7764350453172205, 0.716012084592145, 0.7049345417925479, 0.7341389728096677, 0.7009063444108762, 0.7351460221550856, 0.7734138972809668, 0.7925478348439073, 0.6968781470292045, 0.7734138972809668, 0.7059415911379657, 0.7210473313192346, 0.7663645518630413, 0.7109768378650554, 0.7522658610271903, 0.7240684793554885, 0.729103726082578, 0.7351460221550856, 0.7663645518630413, 0.7119838872104733, 0.7069486404833837, 0.8016112789526687, 0.756294058408862, 0.756294058408862, 0.6958710976837865, 0.7643504531722054, 0.7099697885196374, 0.7734138972809668, 0.7754279959718026, 0.7170191339375629, 0.7633434038267876, 0.7633434038267876, 0.7421953675730111, 0.7341389728096677, 0.8096676737160121, 0.7955689828801611, 0.7794561933534743, 0.8036253776435045, 0.6948640483383686, 0.75730110775428, 0.701913393756294, 0.8197381671701913, 0.7331319234642497, 0.7754279959718026, 0.7935548841893253, 0.7280966767371602, 0.7804632426988922, 0.7905337361530715, 0.8026183282980867, 0.7311178247734139, 0.7230614300100705, 0.716012084592145, 0.7663645518630413, 0.796576032225579, 0.7603222557905337, 0.8006042296072508, 0.7824773413897281, 0.7452165156092648, 0.7522658610271903, 0.7260825780463243, 0.7693856998992951, 0.8147029204431017, 0.716012084592145, 0.756294058408862, 0.7139979859013091, 0.7190332326283988, 0.7401812688821753, 0.7482376636455186, 0.7250755287009063, 0.743202416918429, 0.7583081570996979, 0.7210473313192346, 0.7139979859013091, 0.7361530715005036, 0.7854984894259819, 0.7371601208459214, 0.6837865055387714, 0.7200402819738168, 0.7552870090634441, 0.8157099697885196]
Standard Deviation: 0.032543958470172364
Mean: 0.7503323262839879

# 12. SPECT Heart Dataset

In [113]:
# Loading the dataset
df = pd.read_csv("datasets/SPECT.csv")

In [114]:
# Displaying the first five records of the dataset
df.head()

,class,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22
0,1,0,0,0,1,0,0,0,1,1,...,1,1,0,0,0,0,0,0,0,0
1,1,0,0,1,1,0,0,0,1,1,...,1,1,0,0,0,0,0,0,0,1
2,1,1,0,1,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,1,0,0,0,0,0,0,0,1,0,...,1,0,1,1,0,0,0,0,0,0

In [115]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(267, 23)

In [116]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [117]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

1    212
0     55
Name: class, dtype: int64

In [118]:
# Encoding the attributes of the dataset
df = encoding(df)

In [119]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [120]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [121]:
repetition(X,y)

[0.8333333333333334, 0.8148148148148148, 0.8333333333333334, 0.7777777777777778, 0.7777777777777778, 0.8148148148148148, 0.8333333333333334, 0.7592592592592593, 0.8148148148148148, 0.7592592592592593, 0.7777777777777778, 0.7962962962962963, 0.8333333333333334, 0.7962962962962963, 0.8333333333333334, 0.8888888888888888, 0.7592592592592593, 0.8703703703703703, 0.8148148148148148, 0.8518518518518519, 0.8333333333333334, 0.7777777777777778, 0.7222222222222222, 0.7407407407407407, 0.8518518518518519, 0.8333333333333334, 0.8148148148148148, 0.7592592592592593, 0.6851851851851852, 0.7407407407407407, 0.7777777777777778, 0.7037037037037037, 0.7962962962962963, 0.8333333333333334, 0.8333333333333334, 0.8333333333333334, 0.7222222222222222, 0.8333333333333334, 0.7962962962962963, 0.8518518518518519, 0.7962962962962963, 0.7592592592592593, 0.8333333333333334, 0.7592592592592593, 0.7222222222222222, 0.7592592592592593, 0.7962962962962963, 0.7962962962962963, 0.8518518518518519, 0.7962962962962963, 0.8148148148148148, 0.7592592592592593, 0.8333333333333334, 0.7962962962962963, 0.8703703703703703, 0.8518518518518519, 0.7962962962962963, 0.8148148148148148, 0.7592592592592593, 0.8888888888888888, 0.7777777777777778, 0.8148148148148148, 0.8148148148148148, 0.6851851851851852, 0.7407407407407407, 0.8518518518518519, 0.8518518518518519, 0.8148148148148148, 0.8333333333333334, 0.8333333333333334, 0.8888888888888888, 0.8148148148148148, 0.6851851851851852, 0.8703703703703703, 0.6111111111111112, 0.7962962962962963, 0.7962962962962963, 0.6666666666666666, 0.7407407407407407, 0.7037037037037037, 0.8888888888888888, 0.8148148148148148, 0.8703703703703703, 0.7777777777777778, 0.8518518518518519, 0.7592592592592593, 0.7777777777777778, 0.7777777777777778, 0.8888888888888888, 0.7592592592592593, 0.8333333333333334, 0.7592592592592593, 0.7592592592592593, 0.8333333333333334, 0.7222222222222222, 0.7222222222222222, 0.7592592592592593, 0.7592592592592593, 0.7407407407407407, 0.7037037037037037]
Standard Deviation: 0.05447435560317666
Mean: 0.7938888888888889

# 13. Primary Tumor Dataset

In [122]:
# Loading the dataset
df = pd.read_csv("datasets/primary-tumor.csv")

In [123]:
# Displaying the first five records of the dataset
df.head()

,class,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal
0,1,1,1,?,3,2,2,1,2,2,2,2,2,2,2,2,2,2
1,1,1,1,?,3,2,2,2,2,2,1,2,2,2,1,2,1,2
2,1,1,2,2,3,1,2,2,2,2,2,2,2,2,2,2,1,2
3,1,1,2,?,3,1,2,1,1,2,2,2,2,2,2,2,1,2
4,1,1,2,?,3,1,2,1,1,2,2,2,2,2,2,2,1,2

In [124]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(339, 18)

In [125]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [126]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

1     84
5     39
18    29
11    28
14    24
22    24
2     20
12    16
7     14
4     14
17    10
3      9
13     7
8      6
19     6
10     2
15     2
20     2
6      1
16     1
21     1
Name: class, dtype: int64

In [127]:
# Removing classes having <= 4 instances
df = remove_class(df,'class')

In [128]:
# Encoding the attributes of the dataset
df = encoding(df)

In [129]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [130]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [131]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [132]:
repetition(X,y)

[0.5515873015873016, 0.5277777777777778, 0.5357142857142857, 0.5674603174603174, 0.5873015873015873, 0.5198412698412699, 0.623015873015873, 0.45634920634920634, 0.5436507936507936, 0.5833333333333334, 0.6111111111111112, 0.5714285714285714, 0.6150793650793651, 0.38492063492063494, 0.5555555555555556, 0.5595238095238095, 0.5396825396825397, 0.43253968253968256, 0.35714285714285715, 0.3888888888888889, 0.4087301587301587, 0.6111111111111112, 0.6190476190476191, 0.5238095238095238, 0.5436507936507936, 0.4642857142857143, 0.6071428571428571, 0.6071428571428571, 0.4166666666666667, 0.5198412698412699, 0.6666666666666666, 0.5158730158730159, 0.6428571428571429, 0.6150793650793651, 0.5952380952380952, 0.5277777777777778, 0.49603174603174605, 0.49206349206349204, 0.48412698412698413, 0.4126984126984127, 0.5912698412698413, 0.6468253968253969, 0.48412698412698413, 0.5357142857142857, 0.5873015873015873, 0.5515873015873016, 0.5912698412698413, 0.4365079365079365, 0.503968253968254, 0.5515873015873016, 0.5079365079365079, 0.5238095238095238, 0.6031746031746031, 0.6031746031746031, 0.5634920634920635, 0.6388888888888888, 0.6309523809523809, 0.6388888888888888, 0.6587301587301587, 0.5992063492063492, 0.5833333333333334, 0.47619047619047616, 0.46825396825396826, 0.5, 0.5674603174603174, 0.27380952380952384, 0.5, 0.4365079365079365, 0.6031746031746031, 0.5436507936507936, 0.6428571428571429, 0.5317460317460317, 0.5714285714285714, 0.4603174603174603, 0.5793650793650794, 0.4365079365079365, 0.5277777777777778, 0.5714285714285714, 0.42063492063492064, 0.6825396825396826, 0.6349206349206349, 0.5833333333333334, 0.5634920634920635, 0.5, 0.6071428571428571, 0.5515873015873016, 0.49603174603174605, 0.4801587301587302, 0.46825396825396826, 0.5119047619047619, 0.6150793650793651, 0.5317460317460317, 0.5952380952380952, 0.6190476190476191, 0.5515873015873016, 0.48412698412698413, 0.35714285714285715, 0.6111111111111112, 0.4365079365079365, 0.5595238095238095]
Standard Deviation: 0.07716110405402439
Mean: 0.5386507936507936

# 14. Chess (King-Rook vs. King-Pawn) Dataset

In [133]:
# Loading the dataset
df = pd.read_csv("datasets/kr-vs-kp.csv")

In [134]:
# Displaying the first five records of the dataset
df.head()

,bkblk,bknwy,bkon8,bkona,bkspr,bkxbq,bkxcr,bkxwp,blxwp,bxqsq,...,spcop,stlmt,thrsk,wkcti,wkna8,wknck,wkovl,wkpos,wtoeg,class
0,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
1,f,f,f,f,t,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
2,f,f,f,f,t,f,t,f,f,f,...,f,f,f,f,f,f,t,t,n,won
3,f,f,f,f,f,f,f,f,t,f,...,f,f,f,f,f,f,t,t,n,won
4,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won

In [135]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(3196, 37)

In [136]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [137]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

won      1669
nowin    1527
Name: class, dtype: int64

In [138]:
# Encoding the attributes of the dataset
df = encoding(df)

In [139]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [140]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [141]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [142]:
repetition(X,y)

[0.8188622754491018, 0.8098802395209581, 0.8502994011976048, 0.7559880239520959, 0.8143712574850299, 0.7215568862275449, 0.7634730538922155, 0.7604790419161677, 0.7335329341317365, 0.6646706586826348, 0.7050898203592815, 0.5853293413173652, 0.8233532934131736, 0.8203592814371258, 0.7934131736526946, 0.592814371257485, 0.5284431137724551, 0.7679640718562875, 0.5553892215568862, 0.8008982035928144, 0.7829341317365269, 0.8173652694610778, 0.7514970059880239, 0.6646706586826348, 0.7739520958083832, 0.718562874251497, 0.7245508982035929, 0.8278443113772455, 0.7754491017964071, 0.655688622754491, 0.6916167664670658, 0.8023952095808383, 0.7395209580838323, 0.8293413173652695, 0.8353293413173652, 0.8383233532934131, 0.75, 0.7649700598802395, 0.7050898203592815, 0.6092814371257484, 0.75, 0.8502994011976048, 0.8353293413173652, 0.7035928143712575, 0.655688622754491, 0.8068862275449101, 0.7544910179640718, 0.8143712574850299, 0.6407185628742516, 0.6721556886227545, 0.7844311377245509, 0.8188622754491018, 0.8233532934131736, 0.7215568862275449, 0.7949101796407185, 0.8098802395209581, 0.6332335329341318, 0.8413173652694611, 0.6931137724550899, 0.8562874251497006, 0.7589820359281437, 0.7619760479041916, 0.8233532934131736, 0.6541916167664671, 0.812874251497006, 0.7529940119760479, 0.7664670658682635, 0.6077844311377245, 0.7275449101796407, 0.6796407185628742, 0.7485029940119761, 0.8143712574850299, 0.7694610778443114, 0.8278443113772455, 0.8008982035928144, 0.7470059880239521, 0.6272455089820359, 0.7754491017964071, 0.8398203592814372, 0.8517964071856288, 0.8488023952095808, 0.812874251497006, 0.6407185628742516, 0.781437125748503, 0.7170658682634731, 0.718562874251497, 0.7604790419161677, 0.8248502994011976, 0.5748502994011976, 0.8233532934131736, 0.8338323353293413, 0.6976047904191617, 0.8263473053892215, 0.8143712574850299, 0.7485029940119761, 0.8308383233532934, 0.8173652694610778, 0.8458083832335329, 0.7050898203592815, 0.8053892215568862]
Standard Deviation: 0.0761590302109852
Mean: 0.7556137724550898

# 15. Lymphography Dataset

In [143]:
# Loading the dataset
df = pd.read_csv("datasets/lymphography.csv")

In [144]:
# Displaying the first five records of the dataset
df.head()

,class,lymphatics,block of affere,bl. of lymph. c,bl. of lymph. s,by pass,extravasates,regeneration of,early uptake in,lym.nodes dimin,lym.nodes enlar,changes in lym.,defect in node,changes in node,changes in stru,special forms,dislocation of,exclusion of no,no. of nodes in
0,3,4,2,1,1,1,1,1,2,1,2,2,2,4,8,1,1,2,2
1,2,3,2,1,1,2,2,1,2,1,3,3,2,3,4,2,2,2,2
2,3,3,2,2,2,2,2,2,2,1,4,3,3,4,8,3,2,2,7
3,3,3,1,1,1,1,2,1,2,1,3,3,4,4,4,3,1,2,6
4,2,3,1,1,1,1,1,1,1,1,2,2,4,3,5,1,2,2,1

In [145]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(148, 19)

In [146]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [147]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

2    81
3    61
4     4
1     2
Name: class, dtype: int64

In [148]:
# Removing classes having <= 4 instances
df = remove_class(df,'class')

In [149]:
# Encoding the attributes of the dataset
df = encoding(df)

In [150]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [151]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [152]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [153]:
repetition(X,y)

[0.7272727272727273, 0.6666666666666666, 0.7272727272727273, 0.9393939393939394, 0.8181818181818182, 0.7272727272727273, 0.7575757575757576, 0.8484848484848485, 0.7272727272727273, 0.9090909090909091, 0.7272727272727273, 0.6666666666666666, 0.6666666666666666, 0.696969696969697, 0.48484848484848486, 0.7575757575757576, 0.7878787878787878, 0.6666666666666666, 0.8181818181818182, 0.9090909090909091, 0.8484848484848485, 0.7272727272727273, 0.8181818181818182, 0.7272727272727273, 0.8484848484848485, 0.8484848484848485, 0.6363636363636364, 0.7272727272727273, 0.7272727272727273, 0.696969696969697, 0.7575757575757576, 0.9090909090909091, 0.696969696969697, 0.8181818181818182, 0.7575757575757576, 0.6666666666666666, 0.696969696969697, 0.7575757575757576, 0.8787878787878788, 0.696969696969697, 0.8787878787878788, 0.8181818181818182, 0.8484848484848485, 0.7878787878787878, 0.7878787878787878, 0.8787878787878788, 0.6666666666666666, 0.7878787878787878, 0.8787878787878788, 0.6666666666666666, 0.9090909090909091, 0.6060606060606061, 0.8484848484848485, 0.6666666666666666, 0.8484848484848485, 0.8787878787878788, 0.7878787878787878, 0.7272727272727273, 0.7878787878787878, 0.7575757575757576, 0.8181818181818182, 0.7878787878787878, 0.7878787878787878, 0.8787878787878788, 0.8181818181818182, 0.7272727272727273, 0.7575757575757576, 0.5151515151515151, 0.6666666666666666, 0.7575757575757576, 0.9393939393939394, 0.696969696969697, 0.6666666666666666, 0.9090909090909091, 0.36363636363636365, 0.8181818181818182, 0.7272727272727273, 0.5757575757575758, 0.5454545454545454, 0.8484848484848485, 0.8484848484848485, 0.6060606060606061, 0.8181818181818182, 0.6363636363636364, 0.9393939393939394, 0.8484848484848485, 0.9393939393939394, 0.3939393939393939, 0.8181818181818182, 0.7575757575757576, 0.9090909090909091, 0.9090909090909091, 0.9090909090909091, 0.5757575757575758, 0.8484848484848485, 0.7878787878787878, 0.696969696969697, 0.6060606060606061, 0.696969696969697, 0.8181818181818182]
Standard Deviation: 0.1138281210363209
Mean: 0.7606060606060607

# 16. Connect-4 Dataset

In [154]:
# Loading the dataset
df = pd.read_csv("datasets/connect-4.csv")

In [155]:
# Displaying the first five records of the dataset
df.head()

  a1 a2 a3 a4 a5 a6 b1 b2 b3 b4  ... f4 f5 f6 g1 g2 g3 g4 g5 g6 class
0  b  b  b  b  b  b  b  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
1  b  b  b  b  b  b  b  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
2  b  b  b  b  b  b  o  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
3  b  b  b  b  b  b  b  b  b  b  ...  b  b  b  b  b  b  b  b  b   win
4  o  b  b  b  b  b  b  b  b  b  ...  b  b  b  b  b  b  b  b  b   win

[5 rows x 43 columns]

In [156]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(67557, 43)

In [157]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [158]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

win     44473
loss    16635
draw     6449
Name: class, dtype: int64

In [159]:
# Encoding the attributes of the dataset
df = encoding(df)

In [160]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [161]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [162]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [163]:
repetition(X,y)

[0.4455104182281517, 0.432206565732274, 0.4359541298156199, 0.4368160695547894, 0.4448733323339829, 0.4244865837205816, 0.42977064907809925, 0.4697571578473992, 0.4366286913506221, 0.404886823564683, 0.4118947684005396, 0.43055763753560183, 0.44097586568730324, 0.43531704392145104, 0.4337055913656124, 0.4268475490930895, 0.3865612351971219, 0.42291260680557635, 0.41418078249138063, 0.4086343876480288, 0.4401139259481337, 0.3930819967021436, 0.4332184080347774, 0.43183180932393944, 0.4196522260530655, 0.43925198620896416, 0.43423025033728074, 0.4648103732573827, 0.46323639634237745, 0.42842152600809474, 0.4161295158147204, 0.4201394093839005, 0.41556738120221853, 0.4405636336381352, 0.46098785789236996, 0.42917103882476393, 0.4545045720281817, 0.39952780692549844, 0.43033278369060113, 0.42733473242392445, 0.4345300554639484, 0.4246364862839155, 0.40623594663468743, 0.40623594663468743, 0.4395143156947984, 0.46364862839154547, 0.4434492579823115, 0.4169539799130565, 0.4363663618647879, 0.4387648028781292, 0.45356768100734524, 0.4483585669314945, 0.440301304152301, 0.43141957727477137, 0.4347174336681157, 0.42808424524059363, 0.4404512067156348, 0.43659121570978865, 0.4282716234447609, 0.4258731824314196, 0.4809623744566032, 0.46226202968070756, 0.43591665417478637, 0.402600809473842, 0.40218857742467395, 0.4239619247489132, 0.440301304152301, 0.3988907210313296, 0.40200119922050664, 0.426397841403088, 0.414705441463049, 0.43108229650727026, 0.4478713836006596, 0.41744116324389147, 0.446110028481487, 0.44790885924149304, 0.4047369210013491, 0.4464473092489882, 0.4302203567681007, 0.4290586119022635, 0.41002098635886675, 0.4343801529006146, 0.43917703492729726, 0.45371758357067904, 0.4173287363213911, 0.4207390196372358, 0.42725978114225754, 0.4372283016039574, 0.4373782041672913, 0.4222005696297407, 0.43201918752810675, 0.43175685804227254, 0.4403762554339679, 0.46241193224404137, 0.38337580572627794, 0.4055613850996852, 0.4697571578473992, 0.44449857592564834, 0.45581621945735273, 0.4333683105981112]
Standard Deviation: 0.018482277484602416
Mean: 0.4314199520311798

# 17. Hayes-Roth Dataset

In [164]:
# Loading the dataset
df = pd.read_csv("datasets/hayes-roth.csv")

In [165]:
# Displaying the first five records of the dataset
df.head()

   hobby  age  educational_level  marital_status  class
0      2    1                  1               2      1
1      2    1                  3               2      2
2      3    1                  4               1      3
3      2    4                  2               2      3
4      1    1                  3               4      3

In [166]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(160, 5)

In [167]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [168]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

1    65
2    64
3    31
Name: class, dtype: int64

In [169]:
# Encoding the attributes of the dataset
df = encoding(df)

In [170]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [171]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [172]:
repetition(X,y)

[0.65625, 0.59375, 0.6875, 0.59375, 0.5625, 0.65625, 0.40625, 0.5, 0.6875, 0.625, 0.59375, 0.5625, 0.59375, 0.625, 0.65625, 0.59375, 0.71875, 0.5, 0.5625, 0.71875, 0.59375, 0.5, 0.71875, 0.59375, 0.71875, 0.5625, 0.53125, 0.625, 0.71875, 0.625, 0.625, 0.78125, 0.625, 0.71875, 0.59375, 0.46875, 0.78125, 0.75, 0.53125, 0.65625, 0.6875, 0.6875, 0.65625, 0.6875, 0.625, 0.625, 0.40625, 0.59375, 0.75, 0.4375, 0.5625, 0.6875, 0.59375, 0.625, 0.6875, 0.75, 0.65625, 0.40625, 0.5625, 0.78125, 0.5625, 0.59375, 0.59375, 0.65625, 0.625, 0.625, 0.75, 0.6875, 0.59375, 0.53125, 0.71875, 0.5625, 0.65625, 0.53125, 0.75, 0.65625, 0.6875, 0.78125, 0.59375, 0.65625, 0.59375, 0.625, 0.65625, 0.375, 0.59375, 0.34375, 0.5625, 0.59375, 0.5625, 0.40625, 0.65625, 0.65625, 0.59375, 0.65625, 0.75, 0.59375, 0.5, 0.6875, 0.6875, 0.78125]
Standard Deviation: 0.0937557289916195
Mean: 0.6196875

# 18. Lung Cancer Prediction Dataset

In [173]:
# Loading the dataset
df = pd.read_csv("datasets/cancer-patients.csv")

In [174]:
# Displaying the first five records of the dataset
df.head()

,index,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,0,P1,33,1,2,4,5,4,3,2,...,3,4,2,2,3,1,2,3,4,Low
1,1,P10,17,1,3,1,5,3,4,2,...,1,3,7,8,6,2,1,7,2,Medium
2,2,P100,35,1,4,5,6,5,5,4,...,8,7,9,2,1,4,6,7,2,High
3,3,P1000,37,1,7,7,7,7,6,7,...,4,2,3,1,4,5,6,7,5,High
4,4,P101,46,1,6,8,7,7,7,6,...,3,2,4,1,4,2,4,2,3,High

In [175]:
# Dropping unwanted columns
df.drop(['index','Patient Id','Age'], axis=1, inplace=True)

In [176]:
# Displaying the first five records of the dataset
df.head()

,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,Obesity,Smoking,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,1,2,4,5,4,3,2,2,4,3,...,3,4,2,2,3,1,2,3,4,Low
1,1,3,1,5,3,4,2,2,2,2,...,1,3,7,8,6,2,1,7,2,Medium
2,1,4,5,6,5,5,4,6,7,2,...,8,7,9,2,1,4,6,7,2,High
3,1,7,7,7,7,6,7,7,7,7,...,4,2,3,1,4,5,6,7,5,High
4,1,6,8,7,7,7,6,7,7,8,...,3,2,4,1,4,2,4,2,3,High

In [177]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(1000, 23)

In [178]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [179]:
# Checking the instance counts of the target attribute
df['Level'].value_counts()

High      365
Medium    332
Low       303
Name: Level, dtype: int64

In [180]:
# Encoding the attributes of the dataset
df = encoding(df)

In [181]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [182]:
# Separating dependent and independent variables
X, y = separating(df, 'Level')

In [183]:
repetition(X,y)

[0.925, 0.94, 0.915, 0.955, 0.915, 0.895, 0.87, 0.9, 0.95, 0.9, 0.93, 0.92, 0.925, 0.89, 0.915, 0.9, 0.955, 0.94, 0.935, 0.945, 0.915, 0.88, 0.925, 0.91, 0.93, 0.9, 0.95, 0.905, 0.925, 0.91, 0.9, 0.92, 0.91, 0.895, 0.94, 0.91, 0.91, 0.92, 0.91, 0.91, 0.94, 0.915, 0.93, 0.92, 0.79, 0.895, 0.88, 0.915, 0.94, 0.91, 0.925, 0.925, 0.915, 0.945, 0.91, 0.93, 0.925, 0.89, 0.855, 0.905, 0.88, 0.87, 0.915, 0.915, 0.905, 0.895, 0.87, 0.885, 0.91, 0.925, 0.885, 0.875, 0.935, 0.92, 0.815, 0.905, 0.89, 0.86, 0.89, 0.9, 0.905, 0.9, 0.88, 0.94, 0.92, 0.91, 0.905, 0.89, 0.915, 0.895, 0.885, 0.9, 0.92, 0.925, 0.885, 0.89, 0.875, 0.875, 0.9, 0.85]
Standard Deviation: 0.02673999813014204
Mean: 0.90665

# 19. Phishing Website Dataset

In [184]:
# Loading the dataset
df = pd.read_csv("datasets/phishing.csv")

In [185]:
# Displaying the first five records of the dataset
df.head()

,Index,UsingIP,LongURL,ShortURL,Symbol@,Redirecting//,PrefixSuffix-,SubDomains,HTTPS,DomainRegLen,...,UsingPopupWindow,IframeRedirection,AgeofDomain,DNSRecording,WebsiteTraffic,PageRank,GoogleIndex,LinksPointingToPage,StatsReport,class
0,0,1,1,1,1,1,-1,0,1,-1,...,1,1,-1,-1,0,-1,1,1,1,-1
1,1,1,0,1,1,1,-1,-1,-1,-1,...,1,1,1,-1,1,-1,1,0,-1,-1
2,2,1,0,1,1,1,-1,-1,-1,1,...,1,1,-1,-1,1,-1,1,-1,1,-1
3,3,1,0,-1,1,1,-1,1,1,-1,...,-1,1,-1,-1,0,-1,1,1,1,1
4,4,-1,0,-1,1,-1,-1,1,1,-1,...,1,1,1,1,1,-1,1,-1,-1,1

In [186]:
# Dropping unwanted columns
df.drop(['Index'], axis=1, inplace=True)

In [187]:
# Displaying the first five records of the dataset
df.head()

,UsingIP,LongURL,ShortURL,Symbol@,Redirecting//,PrefixSuffix-,SubDomains,HTTPS,DomainRegLen,Favicon,...,UsingPopupWindow,IframeRedirection,AgeofDomain,DNSRecording,WebsiteTraffic,PageRank,GoogleIndex,LinksPointingToPage,StatsReport,class
0,1,1,1,1,1,-1,0,1,-1,1,...,1,1,-1,-1,0,-1,1,1,1,-1
1,1,0,1,1,1,-1,-1,-1,-1,1,...,1,1,1,-1,1,-1,1,0,-1,-1
2,1,0,1,1,1,-1,-1,-1,1,1,...,1,1,-1,-1,1,-1,1,-1,1,-1
3,1,0,-1,1,1,-1,1,1,-1,1,...,-1,1,-1,-1,0,-1,1,1,1,1
4,-1,0,-1,1,-1,-1,1,1,-1,1,...,1,1,1,1,1,-1,1,-1,-1,1

In [188]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(11054, 31)

In [189]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [190]:
# Checking the instance counts of the target attribute
df['class'].value_counts()

 1    6157
-1    4897
Name: class, dtype: int64

In [191]:
# Encoding the attributes of the dataset
df = encoding(df)

In [192]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [193]:
# Separating dependent and independent variables
X, y = separating(df, 'class')

In [194]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [195]:
repetition(X,y)

[0.9196102314250914, 0.8993097848152659, 0.903369874137231, 0.9147381242387332, 0.8968737312220869, 0.9074299634591961, 0.9204222492894844, 0.9159561510353228, 0.9110840438489647, 0.9053999187982136, 0.9147381242387332, 0.9078359723913926, 0.90580592773041, 0.9082419813235891, 0.9090539991879821, 0.9106780349167681, 0.9224522939504669, 0.9110840438489647, 0.9200162403572879, 0.9200162403572879, 0.9021518473406415, 0.9082419813235891, 0.9029638652050345, 0.9139261063743402, 0.9135200974421437, 0.9147381242387332, 0.9159561510353228, 0.9118960617133577, 0.9066179455948031, 0.9123020706455542, 0.9167681688997158, 0.9131140885099472, 0.9013398294762485, 0.9204222492894844, 0.8948436865611044, 0.90580592773041, 0.9228583028826635, 0.9123020706455542, 0.9098660170523751, 0.9183922046285018, 0.9123020706455542, 0.904181892001624, 0.9013398294762485, 0.8944376776289078, 0.9147381242387332, 0.903369874137231, 0.9143321153065368, 0.9070239545269996, 0.9029638652050345, 0.9118960617133577, 0.9114900527811611, 0.8989037758830695, 0.9114900527811611, 0.9139261063743402, 0.9135200974421437, 0.9155501421031262, 0.9135200974421437, 0.9021518473406415, 0.9086479902557856, 0.9171741778319124, 0.9175801867641088, 0.9106780349167681, 0.9106780349167681, 0.9155501421031262, 0.9151441331709298, 0.901745838408445, 0.8960617133576939, 0.9086479902557856, 0.9098660170523751, 0.9139261063743402, 0.9123020706455542, 0.9187982135606984, 0.9118960617133577, 0.9171741778319124, 0.9106780349167681, 0.9094600081201787, 0.8993097848152659, 0.9005278116118555, 0.904993909866017, 0.9110840438489647, 0.9078359723913926, 0.9175801867641088, 0.8997157937474625, 0.881851400730816, 0.9118960617133577, 0.8960617133576939, 0.9086479902557856, 0.8972797401542834, 0.9094600081201787, 0.9196102314250914, 0.904993909866017, 0.9102720259845717, 0.9155501421031262, 0.9135200974421437, 0.9216402760860739, 0.9082419813235891, 0.9070239545269996, 0.8676410881039383, 0.9175801867641088, 0.904993909866017]
Standard Deviation: 0.008375415166971385
Mean: 0.909326025172554

# 20. Monkey-Pox Patients Dataset

In [196]:
# Loading the dataset
df = pd.read_csv("datasets/monkey-pox.csv")

In [197]:
# Displaying the first five records of the dataset
df.head()

,Patient_ID,Systemic Illness,Rectal Pain,Sore Throat,Penile Oedema,Oral Lesions,Solitary Lesion,Swollen Tonsils,HIV Infection,Sexually Transmitted Infection,MonkeyPox
0,P0,None,False,True,True,True,False,True,False,False,Negative
1,P1,Fever,True,False,True,True,False,False,True,False,Positive
2,P2,Fever,False,True,True,False,False,False,True,False,Positive
3,P3,None,True,False,False,False,True,True,True,False,Positive
4,P4,Swollen Lymph Nodes,True,True,True,False,False,True,True,False,Positive

In [198]:
# Dropping unwanted columns
df.drop(['Patient_ID'], axis=1, inplace=True)

In [199]:
# Displaying the first five records of the dataset
df.head()

,Systemic Illness,Rectal Pain,Sore Throat,Penile Oedema,Oral Lesions,Solitary Lesion,Swollen Tonsils,HIV Infection,Sexually Transmitted Infection,MonkeyPox
0,None,False,True,True,True,False,True,False,False,Negative
1,Fever,True,False,True,True,False,False,True,False,Positive
2,Fever,False,True,True,False,False,False,True,False,Positive
3,None,True,False,False,False,True,True,True,False,Positive
4,Swollen Lymph Nodes,True,True,True,False,False,True,True,False,Positive

In [200]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(25000, 10)

In [201]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [202]:
# Checking the instance counts of the target attribute
df['MonkeyPox'].value_counts()

Positive    15909
Negative     9091
Name: MonkeyPox, dtype: int64

In [203]:
# Encoding the attributes of the dataset
df = encoding(df)

In [204]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [205]:
# Separating dependent and independent variables
X, y = separating(df, 'MonkeyPox')

In [206]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [207]:
repetition(X,y)

[0.6321495914519171, 0.6290069138906348, 0.6319924575738529, 0.623664362036455, 0.6332495285983658, 0.6280641106222502, 0.6200502828409805, 0.6337209302325582, 0.6253928346951603, 0.634978001257071, 0.6297925832809553, 0.6247642991829039, 0.6373350094280327, 0.6313639220615965, 0.6382778126964174, 0.6379635449402892, 0.6280641106222502, 0.63073538654934, 0.6327781269641735, 0.6356065367693274, 0.6230358265241986, 0.6228786926461345, 0.6200502828409805, 0.6315210559396606, 0.6293211816467631, 0.6274355751099937, 0.6313639220615965, 0.6323067253299811, 0.6274355751099937, 0.6286926461345066, 0.6252357008170961, 0.6318353236957888, 0.6323067253299811, 0.627906976744186, 0.6321495914519171, 0.6389063482086738, 0.6280641106222502, 0.627906976744186, 0.6305782526712759, 0.6346637335009429, 0.6385920804525456, 0.6341923318667505, 0.6252357008170961, 0.6268070395977373, 0.6329352608422376, 0.6370207416719045, 0.636392206159648, 0.6272784412319296, 0.6327781269641735, 0.6230358265241986, 0.6216216216216216, 0.6351351351351351, 0.6288497800125707, 0.6370207416719045, 0.6280641106222502, 0.6381206788183532, 0.6312067881835324, 0.6348208673790069, 0.6313639220615965, 0.6180075424261471, 0.63340666247643, 0.6280641106222502, 0.6250785669390321, 0.636392206159648, 0.6283783783783784, 0.6330923947203017, 0.634978001257071, 0.6296354494028913, 0.6280641106222502, 0.6367064739157763, 0.6337209302325582, 0.6247642991829039, 0.6206788183532369, 0.6271213073538655, 0.6246071653048397, 0.6341923318667505, 0.6200502828409805, 0.6260213702074168, 0.6360779384035198, 0.6341923318667505, 0.6345065996228787, 0.6275927089880579, 0.6308925204274042, 0.6407919547454431, 0.6356065367693274, 0.6318353236957888, 0.6280641106222502, 0.6365493400377121, 0.6338780641106222, 0.6246071653048397, 0.6362350722815839, 0.6326209930861094, 0.6282212445003142, 0.6337209302325582, 0.6257071024512885, 0.6194217473287241, 0.6274355751099937, 0.6362350722815839, 0.6345065996228787, 0.6299497171590195]
Standard Deviation: 0.005054521818848803
Mean: 0.6304462602137021

# 21. Animal Condition Classification Dataset

In [208]:
# Loading the dataset
df = pd.read_csv("datasets/animal-condition.csv")

In [209]:
# Displaying the first five records of the dataset
df.head()

,AnimalName,symptoms1,symptoms2,symptoms3,symptoms4,symptoms5,Dangerous
0,Dog,Fever,Diarrhea,Vomiting,Weight loss,Dehydration,Yes
1,Dog,Fever,Diarrhea,Coughing,Tiredness,Pains,Yes
2,Dog,Fever,Diarrhea,Coughing,Vomiting,Anorexia,Yes
3,Dog,Fever,Difficulty breathing,Coughing,Lethargy,Sneezing,Yes
4,Dog,Fever,Diarrhea,Coughing,Lethargy,Blue Eye,Yes

In [210]:
# Checking the unique values present in the dataset for the attribute 'AnimalName'
df['AnimalName'].value_counts()

Buffaloes            129
Sheep                110
Pig                   63
Fowl                  62
Elephant              59
Duck                  56
Deer                  38
Donkey                38
Birds                 37
cat                   36
Dog                   34
Monkey                28
Goat                  26
Cattle                21
Hamster               18
Tiger                 17
Lion                  16
Rabbit                11
Horse                 10
Chicken                9
Fox                    7
Other Birds            6
horse                  5
chicken                4
Turtle                 4
Pigs                   3
cow                    3
donkey                 2
Goats                  2
White-tailed deer      1
Hyaenas                1
Wolves                 1
Dogs                   1
Fox                    1
Moos                   1
Reindeer               1
mammal                 1
Sika deer              1
cattle                 1
Mule deer              1
Wapiti                 1
Elk                    1
mules                  1
duck                   1
snake                  1
Black-tailed deer      1
Name: AnimalName, dtype: int64

In [211]:
# Fixing the values of the attribute 'AnimalName'
df['AnimalName'] = [name.lower() for name in df['AnimalName']]
df['AnimalName'].replace({'black-tailed deer':'deer','white-tailed deer':'deer','mule deer':'deer','sika deer':'deer','reindeer':'deer','elk':'deer','wapiti':'deer','mules':'horse','other birds': 'birds','pigs':'pig', 'dogs': 'dog', 'goats': 'goat'}, inplace = True)

In [212]:
# Displaying the first five records of the dataset
df.head()

,AnimalName,symptoms1,symptoms2,symptoms3,symptoms4,symptoms5,Dangerous
0,dog,Fever,Diarrhea,Vomiting,Weight loss,Dehydration,Yes
1,dog,Fever,Diarrhea,Coughing,Tiredness,Pains,Yes
2,dog,Fever,Diarrhea,Coughing,Vomiting,Anorexia,Yes
3,dog,Fever,Difficulty breathing,Coughing,Lethargy,Sneezing,Yes
4,dog,Fever,Diarrhea,Coughing,Lethargy,Blue Eye,Yes

In [213]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(871, 7)

In [214]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [215]:
# Checking the instance counts of the target attribute
df['Dangerous'].value_counts()

Yes    849
No      20
Name: Dangerous, dtype: int64

In [216]:
# Encoding the attributes of the dataset
df = encoding(df)

In [217]:
# Imputing the missing values if any by replacing it with the mode
df = imputation(df)

In [218]:
# Separating dependent and independent variables
X, y = separating(df, 'Dangerous')

In [219]:
repetition(X,y)

[0.9885714285714285, 0.9771428571428571, 0.9714285714285714, 0.9714285714285714, 0.9828571428571429, 0.9771428571428571, 0.9771428571428571, 0.9885714285714285, 0.9942857142857143, 0.9657142857142857, 0.9657142857142857, 0.9657142857142857, 0.9714285714285714, 0.9942857142857143, 0.9771428571428571, 0.9657142857142857, 0.9942857142857143, 0.9714285714285714, 0.9657142857142857, 0.9771428571428571, 0.9828571428571429, 0.9714285714285714, 0.9942857142857143, 0.9828571428571429, 0.9885714285714285, 0.9714285714285714, 0.9771428571428571, 0.9771428571428571, 0.9885714285714285, 0.9942857142857143, 0.96, 0.9657142857142857, 0.9771428571428571, 0.9885714285714285, 0.9885714285714285, 0.9885714285714285, 0.9714285714285714, 0.9771428571428571, 0.9828571428571429, 0.9942857142857143, 0.9828571428571429, 0.9657142857142857, 0.9885714285714285, 0.9657142857142857, 0.9771428571428571, 0.9771428571428571, 0.9885714285714285, 0.9885714285714285, 0.9714285714285714, 0.9771428571428571, 0.9771428571428571, 0.9714285714285714, 0.9714285714285714, 0.9714285714285714, 0.9771428571428571, 0.9828571428571429, 0.9828571428571429, 0.9828571428571429, 0.9657142857142857, 0.9771428571428571, 0.9885714285714285, 0.9657142857142857, 0.9657142857142857, 0.9657142857142857, 0.9714285714285714, 0.9885714285714285, 0.9828571428571429, 0.9885714285714285, 0.9771428571428571, 0.9828571428571429, 0.9828571428571429, 0.9885714285714285, 0.9771428571428571, 0.9885714285714285, 0.9771428571428571, 0.9771428571428571, 0.9885714285714285, 0.96, 0.9885714285714285, 0.9828571428571429, 0.9942857142857143, 0.9828571428571429, 0.9771428571428571, 0.9771428571428571, 0.9885714285714285, 0.9657142857142857, 1.0, 0.9828571428571429, 0.96, 0.9657142857142857, 0.9771428571428571, 0.9942857142857143, 0.9428571428571428, 0.9657142857142857, 0.9828571428571429, 0.9885714285714285, 0.9714285714285714, 0.9828571428571429, 0.9714285714285714, 0.9885714285714285]
Standard Deviation: 0.010137825713834384
Mean: 0.9785714285714288

# 22. Android Malware Detection

In [220]:
# Loading the dataset
df = pd.read_csv("datasets/TUANDROMD.csv")

In [221]:
# Displaying the first five records of the dataset
df.head()

,ACCESS_ALL_DOWNLOADS,ACCESS_CACHE_FILESYSTEM,ACCESS_CHECKIN_PROPERTIES,ACCESS_COARSE_LOCATION,ACCESS_COARSE_UPDATES,ACCESS_FINE_LOCATION,ACCESS_LOCATION_EXTRA_COMMANDS,ACCESS_MOCK_LOCATION,ACCESS_MTK_MMHW,ACCESS_NETWORK_STATE,...,Landroid/telephony/TelephonyManager;->getLine1Number,Landroid/telephony/TelephonyManager;->getNetworkOperator,Landroid/telephony/TelephonyManager;->getNetworkOperatorName,Landroid/telephony/TelephonyManager;->getNetworkCountryIso,Landroid/telephony/TelephonyManager;->getSimOperator,Landroid/telephony/TelephonyManager;->getSimOperatorName,Landroid/telephony/TelephonyManager;->getSimCountryIso,Landroid/telephony/TelephonyManager;->getSimSerialNumber,Lorg/apache/http/impl/client/DefaultHttpClient;->execute,Label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,malware
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,malware
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,malware
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,malware
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,malware

In [222]:
# Displaying the shape of the dataset i.e. (no. of records, no. of attributes)
df.shape

(4465, 242)

In [223]:
# Converting '?' to NaN incase it is present in the dataset
df.replace('?', np.nan, inplace=True)

In [224]:
# Checking the instance counts of the target attribute
df['Label'].value_counts()

malware     3565
goodware     899
Name: Label, dtype: int64

In [225]:
# Encoding the attributes of the dataset
df = encoding(df)

In [226]:
# Imputing the missing values if any by using KNN Imputer
df = imputation(df)

In [227]:
# Separating dependent and independent variables
X, y = separating(df, 'Label')

In [228]:
# Handing class imbalance problem using SMOTEN
X, y = oversampling(X,y)

In [229]:
repetition(X,y)

[0.9537491240364401, 0.9299229152067274, 0.933426769446391, 0.9292221443587947, 0.7701471618780659, 0.764540995094604, 0.9088997897687456, 0.9215136650315346, 0.5613174491941135, 0.8423265592151367, 0.9628591450595655, 0.9110021023125437, 0.9397337070777856, 0.8997897687456202, 0.920812894183602, 0.9509460406447092, 0.9523475823405746, 0.8325157673440785, 0.9096005606166784, 0.9656622284512965, 0.782761037140855, 0.8969866853538893, 0.964260686755431, 0.8297126839523475, 0.918009810791871, 0.9159074982480728, 0.8892782060266293, 0.9677645409950946, 0.9677645409950946, 0.8135949544498949, 0.9656622284512965, 0.9467414155571128, 0.9229152067274001, 0.9474421864050455, 0.9236159775753329, 0.7617379117028732, 0.928521373510862, 0.9621583742116327, 0.9145059565522075, 0.9362298528381219, 0.8731604765241766, 0.9060967063770147, 0.7834618079887876, 0.96916608269096, 0.9439383321653819, 0.9677645409950946, 0.9271198318149965, 0.9698668535388928, 0.6440084092501752, 0.8290119131044149, 0.9418360196215837, 0.9060967063770147, 0.9383321653819201, 0.8402242466713384, 0.9306236860546602, 0.9453398738612474, 0.8486334968465312, 0.7456201822004205, 0.9088997897687456, 0.8598458304134547, 0.9530483531885073, 0.8906797477224947, 0.9663629992992292, 0.8815697266993693, 0.9656622284512965, 0.9628591450595655, 0.9600560616678346, 0.9390329362298528, 0.9025928521373511, 0.9067974772249474, 0.9439383321653819, 0.8836720392431675, 0.9544498948843728, 0.8738612473721094, 0.9495444989488437, 0.8577435178696566, 0.9404344779257183, 0.8801681850035038, 0.9614576033637001, 0.5283812193412754, 0.9600560616678346, 0.6979677645409951, 0.900490539593553, 0.9495444989488437, 0.8556412053258584, 0.9698668535388928, 0.9011913104414856, 0.9145059565522075, 0.7834618079887876, 0.9166082690960056, 0.885073580939033, 0.964260686755431, 0.9509460406447092, 0.9425367904695164, 0.9572529782761037, 0.8815697266993693, 0.8871758934828311, 0.9236159775753329, 0.562718990889979, 0.9719691660826909]
Standard Deviation: 0.08758964487255932
Mean: 0.8947372109320253